<div id="<%= dom_id receipt %>">
  <p>
    <strong>Title:</strong>
    <%= receipt.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= receipt.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= receipt.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= receipt.date %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= receipt.image %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= receipt.account_id %>
  </p>

</div>
