<!DOCTYPE html>
<html>
  <head>
    <title>Letzinvoice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex h-screen bg-gray-100 overflow-hidden">
      <!-- Sticky sidebar -->
      <div class="sidebar bg-green-500 w-64 space-y-6 py-7 px-2 sticky top-0 h-screen md:translate-x-0 md:flex-shrink-0 hidden md:block transform -translate-x-full transition duration-200 ease-in-out">
        <!-- Sidebar content -->
        THE SIDEBAR
        <!-- ... -->
      </div>

      <!-- Content area -->
      <div class="flex-1 overflow-y-auto">
        <%= yield %>
      </div>
    </div>
    <!-- Burger button for mobile -->
    <button class="burger text-amber-400 md:hidden p-2 fixed left-0 bottom-0 z-50" aria-label="Open Menu">
      MENUZAO
    </button>
  <!-- Include your custom scripts here if you have any -->

  </body>
</html>
